.img-icon img {
    object-fit: contain;
}
.account-heading-txt p {
    text-align: center;
    color: #999;
}
.custom-form{
	margin-top: 50px;
}
.custom-input {
    background: #ECF0F3;
    border: none;
    padding: 7px 10px;
    height: 42px;
    border-radius: 5px;
    /* color: red !important; */
}
input.custom-btn.btn.btn-outline-success {
    color: #FFFFFF;
    background-color: #187DE4!important;
    border-color: #187DE4 !important;
    padding: 10px 30px;
    font-size: 18px;
}
/*.text-center-img.brand {
    flex-direction: column !important;
}*/
.student-img{
    object-fit: contain;
}

label.error.fail-alert {
color:red;
}